[submodule "oca/web"]
	path = oca/web
	url = git@github.com:oca/web.git
	branch = 10.0

[submodule "dstolovich/anii_test"]
	path = dstolovich/anii_test
	url = git@github.com:dstolovich/anii_test.git
	branch = master
